.section-title {
  @include gagalin();
  font-size: rem(72px);
  color: $yellow;
  margin-bottom: rem(25px);

  &_color_black {
    color: $black;
  }
  &_color_white{
    color: $white;
  }
  &_centered{
    text-align: center;
  }
}

