.to-next-section {
    background: url('../img/icons/arrow-scroll.png');
    width: 29px;
    height: 14px;
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform:translate(-50%,-100%);
    border: none;
}
