.best {
  background: url('../img/bg/best.jpg') center center no-repeat;
  background-size: cover;


  .container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablets {
      width: 95%;
    }
  }
}

// .container {
//   @include phones {
//     margin: 0;
//     width: 100%;
//   }
// }

.best__list {
  display: flex;

  @include phones {
    flex-direction: column;
    width: 100%
  }
}


.best__item {
  margin-right: rem(37px);
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  align-items: center;

  @include tablets {
    margin-right: 0;
    margin: 0 auto;
  }

  @include phones {
    width: 95%;
    flex-direction: row;
    margin-bottom: rem(10px);
  }


  &:last-child {
    margin-right: 0;
  }
}

.best__icon {
  width: rem(97px);
  margin-bottom: rem(30px);
  flex: 1 0 auto;

  @include phones {
    margin-right: rem(10px);
  }
}

.best__pic-img {
  width: 100%;
}

.best__title {
  margin-bottom: rem(25px);
}

.best__title {
  @include lifehack();
  font-size: rem(24px);
  font-weight: 500;
  line-height: rem(28.14px);
  letter-spacing: rem(-0.6px);
}

.best__text {
  text-align: justify;
  text-align-last: center;

  @include phones {
    text-align: justify;
    text-align-last: left;
  }
}