.best {
  background: url('../img/bg/best.jpg') center center no-repeat;
  background-size: cover;
}

.best__list {
  display: flex;
}


.best__item {
  margin-right: rem(37px);
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;

  &:last-child {
    margin-right: 0;
  }
}

.best__icon {
  margin-bottom: rem(30px);
}

.best__title {
  margin-bottom: rem(25px);
}

.best__title {
  @include lifehack();
  font-size: rem(24px);
  font-weight: 500;
  line-height: rem(14px);
  letter-spacing: rem(-0.6px);
}

.best__text {
  text-align: justify;
  text-align-last: center;
}