.hero {
  background: url('../img/bg/hero-bg.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: rem(12px);
  justify-content: space-between;
}



.header__btns {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav {
  margin-right: rem(15px);
}

.hero__container {
  flex: 1;
}

.hero__content {
  height: 100%;
  display: flex;
  align-items: center;

  @include tablets {
    flex-direction: column;
    justify-content: center;
  }
}

.hero__text {
  padding-left: rem(11px);
  color: #fff;
}

.nav__list {
  display: flex;

}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  display: flex;
  align-items: center;

  &:last-child {
    .nav__link:after {
      display: none;
    }


  }

  &:after {
    content: "";
    display: block;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: #fff;
    margin: 0 rem(12px);
  }
}

.nav__link {
  color: #fff;
  @include ubuntu();
  font-size: rem(13px);
  font-weight: 500;
  line-height: rem(15px);
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.hero__pic {
  width: 50%;
  text-align: center;

  @include tablets {
    width: 70%;
  }
}

.hero__pic-img {
  width: 100%;
}

.hero__text {
  width: 50%;
  @include tablets {
    width: 100%;
  }
}

.hero__desc {
  line-height: rem(60px);
  font-size: rem(60px);
  font-weight: 500;
  @include lifehack();
  color: #fff;
  letter-spacing: rem(-1.63px);

  @include tablets {
    text-align: center;
  }

  @include for920px {
    font-size: rem(50px);
  }
}

.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  align-items: center;
  margin-left: 1.875rem;
  display: none;
}

@include for920px {
  .hamburger-menu-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .nav__list {
    display: none;
  }

}

.hamburger-menu-link__bars,
.hamburger-menu-link__bars:before,
.hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem;
}

.hamburger-menu-link__bars:before,
.hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute;
}

.hamburger-menu-link__bars:before {
  top: 0;
}

.hamburger-menu-link__bars:after {
  bottom: 0;
}

.logo {
  width: rem(92px);
  margin-right: rem(10px);
}