.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;

  @include tablets {
    width: 50%;
    height: 25%;
  }

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  position: relative;

  &:hover {
    .reviews__hover {
      opacity: 1;
    }
  }
}

.reviews__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#454545, .7);
  opacity: 0;
  transition: opacity .3s;
  display: flex;
  flex-direction: column;
  padding: rem(50px) rem(19px);

  @include tablets {
    text-align: center;
    padding: rem(10px);
  }

  @include phones {
    justify-content: center;
  }
}

.reviews__author {
  @include gagalin();
  color: #ffffff;
  font-size: rem(14px);
  font-weight: 400;
  line-height: rem(11px);
  margin-bottom: rem(15px);
}

.reviews__text {
  @include ubuntu();
  color: #ffffff;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  margin-bottom: rem(5px);

  @include tablets {
    text-align: center;
  }

  @include phones {
    display: none;
  }

}