html,
body {
  height: 100%;
}

html {

  @include tablets {
    font-size: 14px;
  }

  @include phones {
    font-size: 13px;
  }
}

body {
  font-size: rem(16px);
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  @include ubuntu();
  color: $black;
}

.container {
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: rem(940px);

  @include for920px {
    width: 85%
  }

  @include tablets {
    width: 87%;
  }

  @include phones {
    width: 85%;
  }

  &-delivery {
    display: flex;
    justify-content: center;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}


// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box !important;
}

.section {
  min-height: rem(650px);
  height: 100vh;

  &_centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.delivery-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: rem(20px);
}

.section-title {
  font-size: rem(70px);
  @include gagalin();
  color: $yellow;
  margin-bottom: rem(40px);

  @include tablets {
    text-align: center;
    font-size: rem(55px);
  }

  @include phones {
    font-size: rem(40px);

  }

  &_color {
    &_black {
      color: $black;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      position: absolute;
      top: rem(20px);
      // padding-top: rem(40px);
    }

    &_white {
      color: white !important;
    }

  }

  &_position {
    &_center {
      text-align: center;
    }
  }
}